<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>
    <div th:replace="topnav.html :: copy"></div>

    <nav class="navbar navbar-inverse">
        <div class="w-25 bg-light border h-100 navbar">
            <div class="list-group list-group-flush container-fluid">
                <span>Category</span>
                <a th:href="@{/product(category=${category.getId()})}" class="list-group-item list-group-item-action bg-light" th:each="category,iterStat : ${categories}" th:text="${category.getName()}">Category...</a>
                <a href="/" class="list-group-item list-group-item-action bg-light">Show all...</a>
            </div>
        </div>

        <div class="w-75 navbar">
            <div class="card" th:if="${category != null}">
                <strong th:text="${category.name}">Category Title</strong>
            </div>

            <div id="products" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4 mb-4" th:each="prod,iterStat : ${products}">
                    <div class="card">
                        <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text text-overflow" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <a class="btn btn-primary" href="#" th:data-id="${prod.id}">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content w-150">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your products in cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" id="cartTable">

                </div>
            </div>
<!-- Carousel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container d-block ml-4 mb-3">
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_1.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add data-productid="4">add to cart</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_1.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters"data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_1.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters ">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_1.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container d-block ml-4 mb-3">
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_2.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_2.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_2.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters ">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_2.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" >add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container d-block ml-4 mb-3">
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_3.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row  no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="container no-gutters">
                                        <div class="row no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_3.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters text-center">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_3.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="container  no-gutters">
                                        <div class="row-2 no-gutters ">
                                            <div class="col-4">
                                                <img class=" img-thumbnail" src="/static/img/product_3.jpg" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>Amazon Fire HD 8</small><br>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <small>367.0 PLN</small>
                                        </div>
                                        <div class="row no-gutters text-center">
                                            <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"  href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
<!-- end of Carousel -->
            <div class="modal-footer">
                <button id="makeOrder" type="button" class="btn btn-primary  btn-small">
                    <a href="/order/payment" style="text-decoration: none; color:inherit">Make an order</a>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

    <div th:replace="footer.html :: copy"></div>

</body>
</html>