<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <!-- Carousel-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container d-block ml-4 mb-3">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_12.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Lenovo TAB4 10" Gray</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>92.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_8.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Portable bag for laptop</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>130.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters"data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_9.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Laptop desk</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>144.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters ">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_10.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Clean spray for laptops</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>24.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container d-block ml-4 mb-3">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_11.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <small>Lenovo TAB4 10" Black</small><br>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <small>87.0 PLN</small>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_12.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Lenovo TAB4 10" Gray</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>92.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_13.jpeg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Powerbank 10000mAh</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>96.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters ">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_14.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>GREENWAVE</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>28.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" >add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container d-block ml-4 mb-3">
                    <div class="row no-gutters">
                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_15.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <small>Esperanza Gaming Pad</small><br>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <small>15.0 PLN</small>
                                </div>
                                <div class="row  no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="container no-gutters">
                                <div class="row no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_16.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>Sumdex PON-202 NV</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>120.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters text-center">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_8.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-cente0r">
                                    <small>NB TRUST 16" Primo</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>120.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="container  no-gutters">
                                <div class="row-2 no-gutters ">
                                    <div class="col-4">
                                        <img class=" img-thumbnail" src="/static/img/product_18.jpg" alt="First slide">
                                    </div>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>NB Sumdex 16" PON-203</small><br>
                                </div>
                                <div class="row no-gutters text-center">
                                    <small>367.0 PLN</small>
                                </div>
                                <div class="row no-gutters text-center">
                                    <button class="btn btn-primary btn-sm no-gutters" data-add>add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"  href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- end of carousel-->
</div>

</body>
</html>